/*Push Content to right and keep navbar to the left*/ 
.container {
    padding: 0;
    display: flex;
}

.vertnavbar {
    width: 15%;
    height: 100vh; /*full viewport height */
    background-color: #333;
    padding: 0 0 0 0;
    top: 0;/*remove space on the top */
    left: 0; /*remove space on the left */
    position: fixed;  /* Fixes the navbar to the left side */
}

.vertnavbar ul {
    list-style-type: none;
    padding: 0;
}

.vertnavbar ul li {
    padding: 5% 5% 0 5%;
    
}

.vertnavbar ul .logo {
    padding: 0 5% 0 5%;
    
}

.vertnavbar ul img
{
    width: 100%;
}

.vertnavbar ul li a {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 90%;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5% 10% 5% 10%;
    display: block;
    transition: background-color 0.3s;
}

.vertnavbar ul li a i {
    margin-right: 10px; /* Space between icon and text */
}

.vertnavbar ul li a:hover {
    background-color: #575757;
    transition-duration: 1s;
}

.vertnavbar ul .loginregis {
    padding: 0 5% 0 5%; 
    position: absolute; /*doesnt change with dropdown*/
    bottom: 20px; /* Adjusts the distance from the bottom */
    width: 90%; /* Ensures it spans the full navbar width */
    text-align: center;
}

/* Dropdown functionality */
.vertnavbar ul .dropdownfunctionality {
    /*keep rigid format*/
    display: block;
}

.dropdownbutton {
    cursor: pointer;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

i{
    color: white;
}

.dropdownbutton:hover {
    background-color: #575757;
}

/* Dropdown Content - initially hidden */
.vertnavbar ul .dropdowncontent {
    max-height: 0;
    overflow: hidden; /*because the max height is zero, overflow hides every thing*/
    background-color: #444;
    width: 90%; 
    margin-left: 5%; /* Center the dropdown content */
    /* border-radius: 5px; rounded corners maybe */
    transition: max-height 0.2s; /*transitions to this after 0.2 seconds
     when the max-height variable change*/
}

.dropdowncontent a {
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 90%;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdowncontent a:hover {
    background-color: #575757;
}

/* Show dropdown on hover */
.dropdownfunctionality:hover .dropdowncontent{
    max-height: 500px; /* Large enough to fit everything */
}

.content {
    margin-left: 15%;  /* Matches navbar width to avoid overlap */
    padding: 0 2% 2% 2%;
    width: 85%; /* Takes the remaining space */
}