body {
    /* font-family: Copperplate, "Copperplate Gothic Light", fantasy;
     */

    font-family: Arial, sans-serif;
    /* text-align: center; */
    margin-left: 15%;  /* Matches navbar width to avoid overlap */
    width: 82%;
    background-color: #fff;
    text-align: center;
}

select {
    font: inherit;
    height: auto;
    width: 110%;
    /* border: 0.1; */
    border: 0.1px solid #ccc;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    border-radius: 0.25em;
    cursor: pointer;
    color: #888;
  }
.invalid{
    border: 2px solid red;
    /* background-color: #f6d1d1; */
}

.error-message{
    color: red;
}
  
option{
    color: #333;
}

.icons{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
  height: 20px;
}

.icons .fa-brands:hover{
  color: #ff0026;

}
.cls{
  color:black;
  padding: 0 10px ;
}

footer{
  margin: inherit;
}

